/* @font-face {
	font-famaly: Название;
	font-style: Стиль шрифта (курсив/обычный);
	font-weigth: Толщина;
	scr: local() - наити в предустановленных, url() - путь до шрифта;
}*/

@font-face {
	font-family: "Roboto";
	font-style: normal;
	font-weight: 100;
	src: local("Roboto"), url(../fonts/Roboto-Thin.woff2) format("woff2"), url(../fonts/Roboto-Thin.woff) format("woff");
}

@font-face {
	font-family: "Roboto";
	font-style: normal;
	font-weight: 400;
	src: local("Roboto"), url(../fonts/Roboto-Regular.woff2) format("woff2"),
		url(../fonts/Roboto-Regular.woff) format("woff");
}

@font-face {
	font-family: "Roboto";
	font-style: normal;
	font-weight: 700;
	src: local("Roboto"), url(../fonts/Roboto-Bold.woff2) format("woff2"), url(../fonts/Roboto-Bold.woff) format("woff");
}
