/*-----Обнуление------*/
* {
	padding: 0;
	margin: 0;
	border: 0;
}
*,
*:before,
*:after {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
:focus,
:active {
	outline: none;
}
a:focus,
a:active {
	outline: none;
}
nav,
footer,
header,
aside {
	display: block;
}
html,
body {
	height: 100%;
	width: 100%;
	font-size: 100%;
	line-height: 1;
	font-size: 14px;
	-ms-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
}
input,
button,
textarea {
	font-family: inherit;
}
input::-ms-clear {
	display: none;
}
button {
	cursor: pointer;
}
button::-moz-focus-inner {
	padding: 0;
	border: 0;
}
a,
a:visited {
	text-decoration: none;
}
a:hover {
	text-decoration: none;
}
ul li {
	list-style: none;
}
img {
	vertical-align: top;
}
h1,
h2,
h3,
h4,
h5,
h6 {
	font-size: inherit;
	font-weight: inherit;
}
/*-----Обнуление------*/

body {
	font-family: "Roboto", "Arial", sans-serif;
	font-weight: 400;
	color: #333333;
}
.header {
	position: sticky;
	top: 0;
	display: flex;
	flex-wrap: wrap;
	flex-direction: column;
	color: #7d7d7d;
	padding: 35px 0 0 0;
	font-size: 12px;
	background-color: #fff;
}
.list {
	list-style-type: none;
	margin-top: 5px;
}
.start,
.about,
.contact,
.soc-item {
	display: inline-block;
}
.start {
	width: auto;
	float: left;
	margin-left: 5%;
}
.contact,
.about {
	width: auto;
	float: right;
	margin-right: 5%;
}
.menu {
	color: #7d7d7d;
}
.menu:hover {
	color: red;
}
.header,
.content {
	max-width: 1200px;
	height: auto;
	margin: 0 auto;
}
.content {
	padding-bottom: 3%;
}
.h1 {
	font-size: 90px;
	padding-top: 23px;
	text-align: center;
}
.home {
	color: white;
	background-color: #333333;
	font-weight: 300;
	margin-top: 12px;
	border-radius: 10px;
}
.home li {
	display: inline-block;
	margin: 10px;
	padding: 10px;
	font-weight: 500;
}
.home a {
	color: aliceblue;
	text-decoration: none;
}
.hover-home:hover {
	color: #1dc9a0;
}
.htext,
.img {
	margin: 40px 0 40px 0;
}
.heading {
	margin-top: 5px;
	margin-bottom: 0%;
	padding-bottom: 0%;
	font-weight: 700;
	font-size: 55px;
}
.text {
	margin-top: 25px;
	font-weight: 400;
	font-size: 20px;
}
.big-img {
	display: flex;
	justify-content: center;
	padding: 0;
	margin: 0;
}
.big-img li {
	padding: 2px;
}
.small-img {
	display: flex;
	justify-content: center;
	padding: 0;
	margin: 0;
}
.small-img li {
	padding: 2px;
}
.width {
	width: 296px;
}
.container {
	display: flex;
}
.events {
	max-width: 810px;
	border: 1px solid #7d7d7d;
	margin: 40px 0 0;
	padding: 15px;
	display: inline-block;
	border: 2px solid #7d7d7d;
}
.events .line {
	max-width: 50%;
	height: 2px;
	background-color: #000;
}
.event {
	width: 367px;
	height: 195px;
	display: inline-block;
	position: relative;
	margin-top: 40px;
}
.block-right {
	margin-right: 25px;
	float: left;
}
.event-img {
	width: 100%;
	height: 100%;
	background-repeat: no-repeat;
	background-size: cover;
}
.img-01 {
	background-image: url("../img/Tile-Big-01.png");
}
.img-02 {
	background-image: url("../img/Tile-Big-02.png");
}
.img-03 {
	background-image: url("../img/Tile-Big-03.png");
}
.img-04 {
	background-image: url("../img/Tile-Big-04.png");
}
.event-title {
	color: #000;
	height: 22px;
	font-size: 12px;
	text-transform: uppercase;
	text-align: center;
	padding-top: 5px;
	position: absolute;
	bottom: 0;
	left: 0;
}
.title-01 {
	background-color: #468eda;
	width: 24%;
}
.title-02 {
	background-color: #5cc08c;
	width: 17%;
}
.title-03 {
	background-color: #c075b8;
	width: 22%;
}
.title-04 {
	background-color: #e1b173;
	width: 30%;
}
.event-text-title,
.event-date {
	margin-top: 10px;
}
.event-date {
	color: #7d7d7d;
	font-size: 12px;
}
.button-ev {
	background-color: #5cbd5c;
	align-self: center;
	font-size: 12px;
	color: #fff;
	border-radius: 5px;
	text-align: center;
	width: 25%;
	padding: 25px 20px;
	margin: 60px auto 25px;
}
.ev-link {
	color: #fff;
}
.button-ev:hover {
	background-image: linear-gradient(90deg, #53cbef 0%, #dcc66c 25%, #ffa3b6 50%, #8cf7c0 75%, #53cbef 100%);
	animation: slidernbw 5s linear infinite;
	color: #000;
}
@keyframes slidernbw {
	to {
		background-position: 20vw;
	}
}
.container-soc-us {
	display: flex;
	flex-direction: column;
	flex-shrink: 0;
	flex-grow: 1;
}
.social,
.users {
	border: 2px solid #7d7d7d;
	max-width: 350px;
	min-width: 350px;
	margin: 40px 0 0 40px;
	padding: 15px;
}
.users {
	height: 100%;
}
.news {
	border: 2px solid #7d7d7d;
	max-width: 350px;
	min-width: 350px;
	margin: 40px auto;
	padding: 15px;
}
.soc-title,
.users-title,
.news-title,
.events-title,
.lecture-title {
	color: black;
	text-transform: uppercase;
	text-align: justify;
	font-size: 18px;
	margin: 0;
}
.line {
	font-size: 0;
	margin-top: 10px;
}
.line-1,
.line-2 {
	display: inline-block;
	vertical-align: middle;
}
.line-1 {
	height: 2px;
	background: black;
	width: 50%;
}
.line-2 {
	height: 2px;
	background: #7d7d7d;
	width: 50%;
}
.soc-list {
	text-align: center;
	padding: 0px;
	margin: 10px 0 10px 0;
}
.soc-item {
	padding: 15px;
	display: block;
	display: inline-block;
}
.soc-item img {
	max-width: 45px;
	width: 100%;
}
.soc-item:hover {
	transform: scale(1.15);
	transition: 0.4s;
}
.soc-text {
	color: #7d7d7d;
	margin: 15px 0 0 0;
}
.users-list {
	padding: 0px;
	margin: 50px 0 40px 0;
}
.user-block {
	display: inline-block;
	vertical-align: middle;
}
.user-item {
	margin-top: 10px;
}
.username,
.userprof {
	margin-left: 15px;
}
.userprof {
	color: #7d7d7d;
}
.lecture {
	display: inline-block;
	width: 100%;
	margin-top: 40px;
	background-color: #f1f1f1;
	padding: 15px;
}
.lecture .line {
	max-width: 10%;
	height: 2px;
	background-color: #000;
}
.video {
	margin: 30px 0;
	padding: 0;
	box-sizing: border-box;
}
.lec-item {
	display: inline-block;
}
.lec-img {
	width: 284px;
	height: 200px;
}
.video-01,
.video-02,
.video-03 {
	margin-right: 5px;
}
.video-01 {
	background-image: url("../img/video-01.png");
}
.video-02 {
	background-image: url("../img/video-02.png");
}
.video-03 {
	background-image: url("../img/video-03.png");
}
.video-04 {
	background-image: url("../img/video-04.png");
}
.news {
	max-width: 734px;
}
.news .line {
	max-width: 50%;
}
.news .line-1 {
	width: 60%;
}
.news .line-2 {
	width: 40%;
}
.news-list {
	padding: 0px;
	margin-bottom: 10px;
}
.news-item:hover .news-title {
	color: red;
}
.news-item {
	padding: 15px 0;
	margin-right: 20px;
	border-bottom: 1px solid #7d7d7d;
}
.news-block {
	display: inline-block;
	vertical-align: middle;
}
.news-item .news-block:last-child {
	width: 70%;
}
.news-block .news-title,
.news-annotation,
.news-footer {
	margin-left: 15px;
}
.news-title {
	font-weight: 500;
}
.news-annotation,
.news-footer {
	color: #7d7d7d;
}
.news-annotation {
	margin-top: 5px;
	font-size: small;
	font-weight: 500;
}
.news-footer {
	font-size: 90%;
	margin-top: 10px;
}
.footer {
	position: fixed;
	bottom: 0px;
	background-color: #333333;
	color: rgb(165, 163, 163);
	text-align: center;
	width: 100%;
	height: 50px;
	padding: 20px;
}
